.about{
  padding: 70px 5%;
  background-color: var(--background);   
}

.about-box{  
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 5% 0;  
}

.about img{  
  width: clamp(20rem, 40vw, 60rem);
}

.about-text h2{
  text-transform: capitalize;
  margin-bottom: 20px;  
}

.about-text p{
  color: var(--color-neutral-2);
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;    
}

.about-text a {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .about{
    padding: 10px 5% 0;
  }
  .about-box {
    width: 95%;
    min-width: 320px;
    flex-direction: column;
  }  
  .about-text{
    min-width: 300px;    
  }
  .about-text h2 {    
    margin-bottom: 10px;
  }
  
  .about-text p {
    color: var(--color-neutral-2);
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
  }
}