.footer-box{  
  width: 100vw;
  background-color: var(--color-neutral-1);  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  padding-right: 2.5rem;  
  align-items: center;
  justify-items: center;  
}

.footer-box img{
  height: 30px;
  padding-left: 1rem;  
}

.footer-center i{
  font-size: 2rem;
  margin: 0 1rem;
}

.footer-right{
  display: flex;
  justify-content: center;
  align-items: center;     
}

@media screen and (max-width: 780px) {
  .footer-box{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

