:root{
  --background: #111111;  
  --color-neutral-1: #191919;
  --color-neutral-2: #686868;  

  --color-blue-0: #5e93af;
  --color-blue-1: #99cccc; 
  --color-blue-2: #0578ff;
  
  --gradient-colors-blue: #0578ff, #99cccc;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: roboto, sans-serif;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;     
}

html{
  scroll-behavior: smooth;   
}

nav ul li{ 
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a{
  color: var(--color-neutral-2);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.0rem;
  text-tranform: capitalize;
}

nav ul li a:hover{
  color: var(--color-blue-2);
  transition: .4s;
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: font-size: clamp(1.8rem, 3vw, 5rem);
}

h2 {
  font-size: clamp(1.4rem, 2vw, 4rem);
  background-image: linear-gradient(45deg, var(--gradient-colors-blue));  
  background-clip: text;
  -webkit-background-clip: text;   
  -webkit-text-fill-color: transparent;
}

h3 {  
  letter-spacing: 2px;
  font-size: 1.5rem;
}

p {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.title {  
  padding-top: 70px;
}

.title h2{
  color: white;
  margin: 15px auto;
  text-align: center;
}

@media (max-width: 992px){
  body{
    overflow-x: hidden;     
  }  
}

